root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[{*.yml, *.json, *.md}]
indent_style = space
indent_size = 2

[**.pyc]
indent_size = ignore
indent_style = ignore
end_of_line = ignore
trim_trailing_whitespace = false
insert_final_newline = false
charset = unset

[**.txt]
indent_size = ignore
indent_style = ignore
insert_final_newline = false
trim_trailing_whitespace = false
charset = utf-8

[static/**]
indent_size = ignore
indent_style = ignore
insert_final_newline = false
trim_trailing_whitespace = false
charset = unset

